<html>
    <head>
        <style>
            *{box-sizing: border-box;}
            body,html{
                margin:0;
                padding: 0;
                width: 100%;
                height: 100%;
                position: relative;
            }
        </style>
        <script src="./js/main.js"></script>
        <script>
            var params;
            
            window.addEventListener('message', event => {
                const message = event.data;
                if(message.command=="load"){
                    params = message.params;

                    document.getElementById("ifrDom").onload=function(){
                        log("iframeOnLoaded");
                    };
                    document.getElementById("ifrDom").src=message.params.url;
                    document.getElementById("description").innerText = message.params.description;
                }
            });
        </script>
    </head>
    <body>
        <div style="width: 100%;height: 100%;display: flex;flex-direction: column;">
            <iframe id='ifrDom' src="" width="100%" style="flex:1;width:100%;" frameborder="no" border="0"></iframe>
        </div>
    </body>
</html>